<section>
  <div class="bg-success text-white d-flex justify-content-between align-items-center px-3">
    <%= link_to "back", :back %>
    <h2 class="bg-success py-3">LOGIN</h2>
    <p>Log In</p>
  </div>
  <div class="container">
    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"rounded-0"%>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", class:"rounded-0" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class:"btn btn-success rounded-0"%>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</section>
