<section>
    <div class="bg-success text-white d-flex justify-content-between align-items-center px-3">
      <%= link_to :back, class:"text-white", style:"font-size: 1.8rem" do %>
        <%= fa_icon "arrow-left" %>
      <% end %>
      <h4 class="bg-success py-3">Add new Transaction</h4>
    </div>
    <div class="container-fluid mt-3">
    <%= bootstrap_form_with model: transaction, url: category_transactions_path(@category) do |f| %>
      <div class="field">
        <%= f.text_field :name, autofocus: true, class:"rounded-0", hide_label: true, placeholder: "Transaction Name", required: true %>
      </div>

      <div class="field">
        <%= f.number_field :amount, autofocus: true, class:"rounded-0", hide_label: true, placeholder: "Transaction amount", required: true %>
      </div>

      <div class="actions" style="margin-top: 5em">
        <%= f.submit "Save", class:"btn btn-success rounded-0 w-100" %>
      </div>
    <%end%>
  </div>
</section>
