<section>
  <div class="bg-success text-white d-flex justify-content-between align-items-center px-3">
    <%= link_to :back, class:"text-white", style:"font-size: 1.8rem" do %>
      <%= fa_icon "arrow-left" %>
    <% end %>
    <h2 class="bg-success py-3">SIGNIN</h2>
    <p class="mt-4">Sign In</p>
  </div>
  <div class="container-fluid mt-3">
    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.text_field :f_name, autofocus: true,class:"rounded-0", hide_label: true, placeholder: "Full Name", required: true %>
      </div>

      <div class="field">
        <%= f.email_field :email, autocomplete: "email", class:"rounded-0", hide_label: true, placeholder: "Email", required: true %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", class:"rounded-0",hide_label: true, placeholder: "Password (#{@minimum_password_length} characters minimum)", required: true %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"rounded-0",hide_label: true, placeholder: "Confirmation Password (#{@minimum_password_length} characters minimum)", required: true %>
      </div>

      <div class="actions" style="margin-top: 5em">
        <%= f.submit "Sign up", class:"btn btn-success rounded-0 w-100" %>
      </div>
    <% end %>
  </div>

<%= render "users/shared/links" %>
